:root {
  --bgcontainer: #1f7a8c;
  --bgbody: #022b3a;
}

* {
  margin: 0;
  padding: 0;
  font-family: "roboto", Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background: url("loqui.jpeg");
  background-size: 100%;
  min-height: 100%;
}

h1 {
  text-align: center;
  color: #e1e5f2;
  margin: 20px;
  text-shadow: 3px 0px 3px #000000;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.container {
  width: 80%;
  height: auto;
  padding: 20px;
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.input-task {
  background-color: var(--bgcontainer);
  box-shadow: 2px 2px 10px #000;
  padding: 20px;
  flex-grow: 1;
  width: 300px;
}

#todo-form {
  display: flex;
  flex-direction: column;
}

#input-task-label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.6em;
  color: #e1e5f2;
  font-weight: 500;
  text-shadow: 1px 1px 2px #000;
}

#textarea {
  resize: none;
  color: #022b3a;
  background-color: #e1e5f2;
  width: 100%;
  box-shadow: 1px 1px 2px #000000;
  padding: 10px;
  font-size: 1.5em;
}

.output-task {
  background-color: var(--bgcontainer);
  box-shadow: 2px 2px 10px #000;
  display: flex;
  justify-content: center;
  width: 300px;
  flex-grow: 1;
  height: auto;
  padding-top: 20px;
  padding-bottom: 15px;
  flex-direction: column;
}

.output-task h2 {
  margin-bottom: 20px;
  font-weight: 500;
  align-self: center;
  color: #e1e5f2;
  text-shadow: 1px 1px 2px #000;
  font-size: 1.6em;
  letter-spacing: 1.5px;
}

#btn__task {
  padding: 5px;
  background: #022b3a;
  box-shadow: 1px 1px 2px #000000;
  border-radius: 20px;
  color: #e1e5f2;
  border: none;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  line-height: 2em;
  font-size: 1.1em;
  -webkit-appearance: none;
}

#btn__task:hover {
  background: rgb(7, 59, 68);
  cursor: pointer;
}

#btn__task:focus {
  outline: none;
}

#btn__task:active {
  outline: none;
  background-color: rgb(7, 38, 63);
}

.task {
  color: #022b3a;
  font-size: 1.5em;
  margin: 25px auto;
  background: url("https://img.icons8.com/plasticine/100/000000/task.png") left
    center;
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 5px 40px 5px 35px;
  list-style: none;
  position: relative;
  width: 80%;
  min-height: 40px;
  height: auto;
  box-shadow: -1px 1px 4px 0px #000000;
  background-color: #bfdbf7;
  word-wrap: break-word;
  display: block;
}

.task a {
  width: 30px;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  right: 2px;
  bottom: 5px;
  margin-right: 5px;
  background: url("https://img.icons8.com/flat_round/64/000000/delete-sign.png")
    no-repeat center center;
  background-size: 100%;
  cursor: pointer;
  box-shadow: 1px 0px 5px 0px #022b3a;
}

.task::first-letter {
  text-transform: uppercase;
}

.btn-delete-all {
  text-decoration: none;
  background-color: rgb(158, 37, 37);
  display: block;
  width: 70%;
  margin: auto;
  border-radius: 50px;
  line-height: 1.5em;
  padding: 10px;
  color: #e1e5f2;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 1px 2px #000000;
  margin-top: 50px;
  margin-bottom: 5px;
}

.btn-delete-all:hover {
  background-color: rgb(167, 51, 51);
}

.btn-delete-all:active {
  background-color: crimson;
}

.no-tasks-msg {
  text-align: center;
  color: rgb(64, 114, 14);
  font-size: 1.5em;
  font-weight: 500;
  padding: 15px;
  height: 130px;
  padding-bottom: 100px;
  display: none;
  padding-bottom: 20px;
  background: url("https://img.icons8.com/cotton/64/000000/sun-glasses--v2.png")
    no-repeat right;
  background-size: 50px;
  background-position: bottom center;
}

@media screen and (max-width: 480px) {
  .task {
    font-size: 1.1em;
  }

  .btn-delete-all {
    width: 90%;
  }

  #btn__task {
    width: 100%;
  }

  .no-tasks-msg {
    font-size: 1.3em;
  }
}
